@model TasksManagementSystem.Models.AdminViewModel
@using (Html.BeginForm("ModifikoTipi", "Admin", FormMethod.Post, new { id = "form-referenti-vgi" }))
{<div class="col-md-3">
        <label>Zgjidhni nje entitet:</label>
        @Html.DropDownListFor(x => Model.SelectListEntity, new SelectList(Model.SelectListEntity, "Value", "Text"), htmlAttributes: new { @class = "form-control", required = "required" })
    </div>
    <div class="row">
        <h3>Detajet e kategorise</h3>
        <asp:TreeView ID="TreeView1" runat="server" ImageSet="XPFileExplorer" NodeIndent="15">
            <HoverNodeStyle Font-Underline="True" ForeColor="#6666AA" />
            <NodeStyle Font-Names="Tahoma" Font-Size="8pt" ForeColor="Black" HorizontalPadding="2px"
                       NodeSpacing="0px" VerticalPadding="2px"></NodeStyle>
            <ParentNodeStyle Font-Bold="False" />
            <SelectedNodeStyle BackColor="#B5B5B5" Font-Underline="False" HorizontalPadding="0px"
                               VerticalPadding="0px" />
        </asp:TreeView>
    </div>
}

