@model TasksManagementSystem.Models.KategoriViewModel
@using (Html.BeginForm("ModifikoKategori", "Admin", FormMethod.Post, new { id = "form-referenti-vgi" }))
{<div class="row">
        <label>Zgjidhni nje entitet:</label>
        @Html.DropDownListFor(x => Model.SelectedEntity, new SelectList(Model.SelectListKategori, "Value", "Text"), htmlAttributes: new { id = "EntitetID", @class = "form-control", required = "required" })
    </div>

}
<script type="text/javascript">
    $("#EntitetID").on('change', function () {
        var value=$( "#EntitetID option:selected" ).text();
        //var getValue = $(this).text();
        $('#partialNestedTreeKategori').load('@Url.Action("NestedTree","Admin")?table=' + value);
    });
               

</script>
